.car-index-body {
  background-image: url("mercedes.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}


.car-headline {
  text-align: center;
  font-size: 60px;
  font-family: Open-Sans;
  padding-top: 32px;
}


.car-show-body {
  background-image: url("mustang.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
